In [1]:
import numpy as np
import pandas as pd

In [2]:
df= pd.read_csv(r'C:\Users\KIIT\OneDrive\Desktop\code 1\Machine_Learning_csv_file\play_tennis.csv')

In [3]:
df

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

###### Problem 1
###### Outlook-sunny, Temp=H0t, Humidity=High, windâ€”weakl
###### Play or No Play?
###### Solution
###### p(Yes / sunny, Hot, High, weak )=P(sunny/ Yes) * P(Hot / Yes) * p(High / Yes) * p(Weak I Yes) *p(Yes)
###### P(No / Sunny, Hot, High, Weak)=p(sunny / No) * p(Hot I No) * p(High I No) * P(Weak I No) * p(No)
###### Compare and decide using the Maximum a posteriori rule

In [8]:
df['play'].value_counts()

Yes    9
No     5
Name: play, dtype: int64

In [12]:
Pyes=df['play'].value_counts()[0]/df.shape[0]

In [13]:
Pno=df['play'].value_counts()[1]/df.shape[0]

In [14]:
Pyes,Pno

(0.6428571428571429, 0.35714285714285715)

In [18]:
pd.crosstab(df['outlook'],df['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [19]:
Pover_no=0
Prain_no=2/5
Psunny_no=3/5

Pover_yes=4/9
Prain_yes=3/9
Psunny_yes=2/9

In [20]:
pd.crosstab(df['wind'],df['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [23]:
PStrong_no=3/5
Pweak_no=2/5

PStrong_yes=3/9
Pweak_yes=6/9

In [21]:
pd.crosstab(df['humidity'],df['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [24]:
PHigh_no=4/5
PNormal_no=1/5

PHigh_yes=3/9
PNormal_yes=6/9

In [22]:
pd.crosstab(df['temp'],df['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [25]:
Pcool_no=1/5
Phot_no=2/5
Pmild_no=1/5

Pcool_yes=3/9
Phot_yes=2/9
Pmild_yes=4/9

In [26]:
# Outlookâ€”Sunny, Temp=H0t, Humidi ty=High, Wind-weak
play_yes=Pyes*Psunny_yes*Phot_yes*PHigh_yes*Pweak_yes

In [27]:
play_no=Pno*Psunny_no*Phot_no*PHigh_no*Pweak_no

In [28]:
play_yes,play_no

(0.007054673721340388, 0.02742857142857143)

In [29]:
# max is no ,so  there will be no play that day 
print(play_no)

0.02742857142857143