In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import  StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score,confusion_matrix

In [2]:
df= pd.read_csv(r'C:\Users\KIIT\OneDrive\Desktop\code 1\Machine_Learning_csv_file\Social_Network_Ads.csv')

In [3]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
x=df.iloc[:,2:4].values

In [5]:
x.shape

(400, 2)

In [6]:
y=df.iloc[:,-1]

In [7]:
y.shape

(400,)

In [28]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.20)

In [29]:
scaler=StandardScaler()

In [30]:
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [31]:
import operator
from collections import Counter

In [32]:
class Kneighbors:
    def __init__(self,k):
        self.k=k
        
    def fit(self,x_train,y_train):
        self.x_train=x_train
        self.y_train=y_train
        print("Training Done")
        
    def classifier(self,distance):
            label=[]
            for i in distance:
                label.append(self.y_train[i[0]])
            return Counter(label).most_common()[0][0]  
            
    def predict(self,x_test):
        distance={}
        counter=0
        for i in self.x_train:
            distance[counter]=((x_test[0][0]-i[0])**2+(x_test[0][1]-i[0])**2)**.5
            counter+=1
        sorted(distance.items(),key=operator.itemgetter(1))
        self.classifier(list(distance.items())[:self.k])

In [33]:
knn=Kneighbors(4)

In [34]:
knn.fit(x_train,y_train)

Training Done

In [35]:
knn.predict(x_test)

In [26]:
def predict_new():
    age=int(input("Enter age : "))
    salary=int(input("Enter salary : "))
    input_=np.array([[age],[salary]]).reshape(1,2)
    input_=scaler.transform(input_)
    result=knn.predict(input_)
    if result:
        print("Will purchase")
    else:
        print("Will not purchase")

In [40]:
predict_new()

Enter age : 33
Enter salary : 2000000
Will not purchase

In [38]:
y_train.value_counts()

0    205
1    115
Name: Purchased, dtype: int64

In [39]:
y_test.value_counts()

0    52
1    28
Name: Purchased, dtype: int64

In [44]:
d=np.array([[1],[2],[3],[4],[5],[6]])
f=np.array([8,8,8,8,8,8])

In [46]:
np.sum(f-d)

162

In [45]:
d.shape

(6, 1)

In [54]:
from sklearn import datasets
import seaborn as sns
iris = datasets.load_iris()
X, y = iris.data, iris.target